.container {
  display: flex;
  gap: 20px;
  padding: 50px 50px;

  .genres {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .genre {
      border: 2px solid blue;
      padding: 10px 40px;
      font-size: 18px;
      color: #000;
      background-color: #fff;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:focus {
        background-color: blue;
        color: #fff;
        transform: scale(1.05);
      }
    }
  }
}
