@import url(https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  padding: 50px;
  font-family: 'Gothic A1', sans-serif;
}
.histories{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btnHistory{
  padding: 5px 10px;
  font-size: 16px;
}